<nav class="navbar navbar-expand-md {{ if .IsHome }}navbar-dark bg-dark{{ else }}navbar-light bg-light{{ end }}">
  <div class="container px-2 px-md-0">
    <a class="navbar-brand px-2" href="{{ site.BaseURL | relLangURL }}">
      {{ $logo:= site.Params.logo }}
      {{ $logoWhite:= site.Params.logo_white }}
      {{ if (or $logo $logoWhite) }}
      {{ if .IsHome }}
      <img class="img-fluid" src="{{if $logoWhite }}{{ $logoWhite | relLangURL }} {{ else }} {{ $logo | relLangURL }}{{ end }}"
        alt="{{ site.Title }}">
      {{ else }}
      <img class="img-fluid" src="{{ $logo | relLangURL }}" alt="{{ site.Title }}">
      {{ end }}
      {{ else }}
      {{ site.Title }}
      {{ end }}
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        {{ range site.Menus.main }}
          {{ $isActive := or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ if $.IsHome }}text-white{{ else }}text-dark{{ end }} {{ if $isActive }}active{{ end }}"
                href="#"
                id="navbarDropdown-{{ .Identifier }}"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu custom-offset" aria-labelledby="navbarDropdown-{{ .Identifier }}">
                {{ range .Children }}
                  {{ $childActive := or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}
                  <a class="dropdown-item {{ if $childActive }}active{{ end }}" href="{{ .URL | absLangURL }}">
                    {{ .Name }}
                  </a>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="nav-link {{ if $.IsHome }}text-white{{ else }}text-dark{{ end }} {{ if $isActive }}active{{ end }}"
                href="{{ .URL | absLangURL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
