/* --- NAV OVERRIDES --- */

/* Space below dropdown */
.navbar-nav .dropdown-menu {
  margin-top: 0.4rem;
  border: 1px solid #122654;
}

/* Highlight dropdown items */
.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #122654;
  color: #fff;
}

/* Active sub-item highlight */
.navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #122654;
  color: #fff;
  font-weight: 600;
}
