<!DOCTYPE html>
<html lang="en">

  <body>
        <div id="content">
            <div class="col-sm-6 col-sm-offset-3">
                    <h3>We are sorry - this page is not here anymore</h3>
                    <h4 class="text-muted">Error 404 - Page not found</h4>

                    <p class="buttons"><a href="index.html" class="btn btn-template-main"><i class="fa fa-home"></i> Go to Homepage</a>
                    </p>
                </div>
            </div>
        </div>
  </body>
</html>
